

  <div class="row">
<div class="container">
      <div class="row" style="margin-top: 15px;">
        <div class="col-sm-9">
          <h1 style="margin-left: 100px; margin-bottom: 25px;">
            Usuários
          </h1>
        </div>
        <div class="col-sm-2" style="margin-top: 12PX;">
          <button (click)="novoUsuario()"  type="button" class="btn btn-success">Cadastrar </button>
        </div>
      </div>
    </div>



    <div class="col-sm-4" *ngIf="usuarioSelecionado">
      <div class="container">
      <form>
        <div class="mb-3">
          <label  class="form-label">Nome</label>
          <input type="text" class="form-control"  name = "nome" [(ngModel)] = "usuarioSelecionado.name" >
        </div>
        <div class="mb-3">
          <label  class="form-label">E-mail</label>
          <input type="email" class="form-control" name = "email" [(ngModel)] = "usuarioSelecionado.email">
        </div>
        <div class="mb-3">
          <label  class="form-label">Telefone</label>
          <input type="text" class="form-control" name="Telefone" [(ngModel)] = "usuarioSelecionado.telefone">
        </div>
        <div class="mb-3">
          <label  class="form-label">UF</label>
          <input type="text" class="form-control" name="UF" [(ngModel)] = "usuarioSelecionado.uf">
        </div>
        <div class="mb-3" *ngIf="usuarioSelecionado.id == undefined">
          <label  class="form-label">Senha</label>
          <input type="password" class="form-control" name="password" [(ngModel)] = "usuarioSelecionado.senha">
        </div>
        <button (click)="submit(usuarioSelecionado)" type="submit" class="btn btn-primary">Submit</button>
        <button (click)="limparUsuarioSelecionado()" type="submit" class="btn btn-warning">Voltar</button>
      </form>
      </div>
    </div>
  
  
    <div [ngClass]="{'col-sm-12': !usuarioSelecionado, 'col-sm-6': usuarioSelecionado}">
      <div class="container"> 
        
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nome</th>
              <th scope="col">E-mail</th>
              <th scope="col">Telefone</th>
              <th scope="col">UF</th>
              <th scope="col">Opções</th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let user of this.usuarios$ | async; let i = index">
              <th scope="row">{{i + 1}}</th>
              <td>{{user.name}}</td>
              <td>{{user.email}}</td>
              <td>{{user.telefone}}</td>
              <td>{{user.uf}}</td>
              <td>
                  <div class="btn-group">
                    <button (click)="selecionarUsuario(user)" class="btn btn-primary">Editar</button>
                    <button (click)="apagarUsuario(user.id!)" class="btn btn-danger">Apagar</button>
                  </div>
              </td>
            </tr>
          </tbody>
         
        </table>
      </div>
    </div>
    

</div>
