<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />


@model Usuario

@{
    ViewData["Title"] = "Página de Login";
}

<h1>Login</h1>

<br />

<div>
    <img src="~/images.png">
</div>
<form asp-controller="Login" asp-action="LoginUser" method="post">
    <div class="d-flex justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <label for="Email" class="form-label">E-mail</label>
                    <input type="email" class="form-control" asp-for="Email" placeholder="Digite seu e-mail">
                   
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-6">
                    <label for="Senha" class="form-label">Senha</label>
                    <input type="password" class="form-control" asp-for="Senha" placeholder="Digite sua senha">
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-6">
                   <a asp-controller="Usuario" asp-action="CadastrarUsuario"> Cadastra-se aqui </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
           
    </div>
    </div>
</form>

@if (TempData["MensagemErro"] != null)
{
    <div class="text-center alert alert-danger" role="alert">
        @TempData["MensagemErro"]
    </div>
}