
<div class="container">
  <div class="row" style="margin-top: 30px;margin-bottom: 30px; ">
    <div class="col-sm-10">
      <h1 style="text-align: center;">Todos os Produtos em Estoque</h1>
    </div>
    <div class="col-sm-2">
      <button (click)="novoProduto()" class="btn btn-success">Cadastrar Produto</button>
    </div>

  </div>

</div>

<div class="container ">
  <div class="row">
     <div class="col-sm-6" *ngIf="produtoSelecionado">
      <form>
        <div class="mb-3">
          <label class="form-label">Descrição do Produto</label>
          <input type="text" class="form-control" name="descricao" [(ngModel)] = "produtoSelecionado.descricao">
        </div>
        <div class="mb-3">
          <label class="form-label">Código do Produto</label>
          <input type="number" class="form-control" name="codigo" [(ngModel)] = "produtoSelecionado.codigo">
        </div>
        <div class="mb-3">
          <label class="form-label">Marca</label>
          <input type="text" name="marca" class="form-control" [(ngModel)] = "produtoSelecionado.marca">
        </div>
        <div class="mb-3">
          <label class="form-label">Preço</label>
          <input type="number" class="form-control" name="preco" [(ngModel)] ="produtoSelecionado.valor">
        </div>
        <div class="mb-3">
          <label class="form-label">Quantidade em Estoque</label>
          <input type="number" class="form-control" name="estoque" [(ngModel)] = "produtoSelecionado.estoque">
        </div>
        
        <button (click)="submit(produtoSelecionado)" type="submit" class="btn btn-primary">Submit</button>
        <button (click)="limparProdutoSelecionado()" type="submit" class="btn btn-warning">Voltar</button>
      </form>
     </div>
      


        <div class="col-md-6" *ngFor="let produto of produtos$ | async; let i = index">
          <div >
            <div class="card" style="margin-bottom: 30px; margin-top: 30px;">
              <div class="card-body">
                <h5 class="card-title">{{produto.descricao}}</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><b>Marca:</b> {{produto.marca}}</li>
                  <li class="list-group-item"><b>Preço:</b> {{produto.valor}} R$</li>
                  <li class="list-group-item"><b>Estoque:</b> {{produto.estoque}}</li>
                </ul>
                <a (click)="selecionarProduto(produto)" class="btn btn-warning">Editar Informações</a>
                <a (click)="apagarProduto(produto.id!)" class="btn btn-danger">Apagar</a>
              </div>
            </div>
          </div>
          
        </div>


      </div>

</div>

